* {
    font-family: 'Montserrat', 'Open Sans', sans-serif;
    margin: 0px;
}

canvas {
    width: 1000px;
}

body {
    margin: auto; 
    text-align: center;
    background-color: #F9F7F3;
}

header h2 {
    font-weight: 400;
    font-size: 32px;
    margin: 20px 0px 8px 0px;
}

button {
    border: none;
    background-color: #0FA3B1;
    color: white;
    padding: 10px 13px;
    border-radius: 5px;
    font-size: 1em;
    margin: 15px 3px 15px 3px;
}

.chart-container {
    margin: auto;
    width: 80%;
}

.graph-title {
    font-weight: 400;
    margin: 20px 0px 8px 0px;
}